<div class="row">
    <div class="col-sm-12 col-lg-4">
        <app-info-card></app-info-card>
    </div>

    <div class="col-sm-12 col-lg-8">
        <div class="about-title">About me</div>
        <app-info-container year="2014">
            <p>I started my software developer career at the ELTE university in 2014.</p>
            <p>I've learned the basics this year in C++.</p>
        </app-info-container>
        <app-info-container year="2015">
            <p>During the university years I stuied many basic and advanced algorythms.</p>
            <p>I learned the basics of the databases and many SQL administrating processes.</p>
            <p>I've learnt how to work within a team.</p>
            <p>I met with the web programming world within a couple of courses that I had in the university and I just realized that,
                this is something that I would prefer to work with during my life (JavaScript, HTML, CSS)
            </p>
        </app-info-container>
        <app-info-container year="2016">
            <p>This year, I wrote a couple of games using JavaScript, HTML, and CSS, and some websites as my hobby.</p>
            <p>I learned how to write server-side Php, and JavaScript (NodeJS) apps.</p>
        </app-info-container>
        <app-info-container year="2017">
            <p>I started working as a student developer at Ericsson Hungary R&D</p>
            <p>This year I started using the Git version control system<img src="assets/img/git-icon.png" alt="git icon" style="max-height: 2em;"></p>
            <p>
                This was the first time I met with Angular(JS) <img src="assets/img/angular.ico" alt="angular icon" style="max-height: 1em;"><br>
                For the first time it was a huge task to understand the logic and the way how AngularJS works, but just once I was getting
                familiar with it and I started enjoying it.
            </p>
            <p>
                Late in 2017, I started using the new Angular 2+ in some private projects and I was falling in love with the TypeScript and the new Angular.
                It was a love at first sight.
            </p>
            <p>
                <img src="assets/img/typescript-logo.png" alt="typescript-logo" style="max-height: 1em;">
                TypeScript is wonderful. I really love how powerful it can be with interfaces, enums, classes (I know since ES6 JS has also classes),
                getters, setters and so on.
            <br>
                Even if I write backend scripts in NodeJS or Discord bot or anything in JavaScript, I prefer to use TypeScript instead if it is possible. It can save
                me from hours of debugging.
            </p>
        </app-info-container>
        <app-info-container year="2018">
            <p>
                In 2018 I decided to work as a full-time developer at Ericsson and I had a big opportunity to start working on a very important project
                and work on an Angular application. That was one thing I dreamed of, but this job was a much bigger opportunity for me, because I had a chance to
                travel to Australia, Melbourne for a month to learn from the team in person.
            </p>
        </app-info-container>
        <app-info-container year="2019">
            <p>This was the year, when my wife and me got married.</p>
            <p>
                A bit later we bought the home of our dreams. Huge house with 4 bedrooms (we plan a big family) and a medium size garden,
                which is more than enough to have many baking/garden parties.
            </p>
            <p>
                This year I had a course called functional programming. We wrote scripts in Haskell. Many people hated it, but I loved it.
                I just realized that this is something that I'm doing in JavaScript as well (array.map((...) => ...).filter()...). But
                the functional programming is not just about this mapping methods, it's also about recursion.<br>
                I used recursion before (e.g. factorial algorythm), but this course showed me so many ways to use recursion in a lot of situations.
            </p>
            <p>
                RxJS. This is the framework that all the Angular developers using. Did you hear about it? I bet yes. Do you like it? I'm not sure, but I do.
                <br>
                The first time I was just writing observable.subscribe(...) and put all the logic into the subscriber function (next). But after a while I
                learnt that I must use the RxJS operators to write safe, clear and efficient code.
                <br>
                Did you know that you should unsubscribe from the subscriptions once you subscribed and finished all the job? I didn't know that for a while,
                but I learned that memory leaks are the things that we should avoid far-far away.
            </p>
            <p>Long story short: I love using RxJS (operators, subjects, observables, etc). I think I mastered it a bit more than enough.</p>
        </app-info-container>
        <app-info-container year="2020">
            <p>I know, I know. Web development is not just Angular. In 2020 I had a couple more web development courses and I met with more frameworks and tools.</p>
            <p>
                ReactJS is one of the most famous JavaScript library that developers using to make frontend websites. I made a 2 person game in React using socket.io.
                <br>
                It isn't that bad, but I'm more comfortable with Angular. Maybe if I learn React before Angular I would write the opposite.
            </p>
            <p>
                This year I also learnt some backend technologies. I met with Php Laravel and NodeJS (I used NodeJS Express before, but now I learnd more).
                If I need to choose I definitely would ignore Php from the entire universe. Why would people use this when we can make NodeJS backends in TypeScript?
            </p>
            <p>
                I got some insights into different ORMs (Object-Relational Mapping), which is a programming technique for converting data between incompatible
                type systems using object-oriented programming languages.
            </p>
        </app-info-container>
        <app-info-container year="2021+">
            <p>
                Nobody knows what comes next, but I know that I would like to start using some containerization technologies in the near future, so I will
                put my eyes on some courses to learn everything about the current containerization war (Docker vs Kubernetes) and technologies.
            </p>
        </app-info-container>
    </div>
</div>
