@import "~bootstrap";

.about-title {
    margin-top: 1em;
    @extend h5;
    margin-bottom: 1em;
    align-self: center;
}

.card {
    img {
        align-self: center;
        height: 300px;
        width: 300px;
    }
}

@include media-breakpoint-up(sm) {
    .card {
        flex-direction: row;
    }
}

@include media-breakpoint-up(lg) {
    .about-title {
        font-size: 2em;
        align-self: flex-start;
    }

    .card {
        flex-direction: column;
    }
}