.cv-print-label {
    display: none;
}

p {
    text-align: justify;
}

$paddingSize: 5px;

.knowledge-badge {
    font-size: 1em;
    margin: 0 5px 5px 5px;
    padding: ($paddingSize) (1.3 * $paddingSize) (1.6 * $paddingSize) (1.3 * $paddingSize);
}

@media print {
    .cv-print-label {
        display: flex;
    }
}
