<div class="d-flex flex-column flex-md-row mt-3">
    <div class="d-flex flex-column col-12 col-md-4">
        <app-info-card></app-info-card>
    </div>
    <div class="d-flex flex-column col-12 col-md-8">
        <div>
            <div class="d-flex flex-column col-12">
                <h1 class="text-dark">Sándor Károly Duba</h1>
                <h3 class="text-secondary">Software Developer</h3>
                <p class="text-black-75 mb-0">Front-end, Angular developer since AngularJS exists and working with the latest Angular versions.</p>
            </div>
            <div class="d-flex flex-column col-12 bg-info flex-lg-row p-0 mt-3 mb-3 ml-2">
                <div class="p-2 col-12 col-lg-3"><i class="bi bi-geo-alt"></i> Pest, Farmos</div>
                <div class="p-2 col-12 col-lg-5"><i class="bi bi-envelope"></i> sanyikarcsi@gmail.com</div>
                <div class="p-2 col-12 col-lg-4"><i class="bi bi-phone"></i> +36&nbsp;20&nbsp;372&nbsp;3799</div>
            </div>
            <div class="d-flex flex-column col-12 flex-lg-row p-0">
                <div class="d-flex flex-column col-12 col-lg-6">
                    <div>
                        <h4 class="text-info">Work Experience</h4>
                        <h5>Student Developer - Ericsson</h5>
                        <h6 class="text-secondary">2017/07 - 2018/11</h6>
                        <p>I started my career at the Ericsson R&D as a student developer in 2016.</p>
                        <p>I worked on an analyzer tool frontend website that was written in AngularJS.</p>
                        <h5>Medior Frontend Developer - Ericsson</h5>
                        <h6 class="text-secondary">2018/11 - Present</h6>
                        <p>
                            In late 2018, I started working full time as a frontend developer on an Angular application.
                            I'm working in an international team (Australia, Canada, Sweden, (and me) Budapest).
                        </p>
                        <p>
                            In the first month, I had a chance to travel to Australia, Melbourne to learn from the core team.
                            For most of my time, I created and maintained services, components, pipes, and directives.
                            I have very good knowledge of RxJS as well starting with using regular RxJS functions and operators.
                            I also had to write our RxJS operators in some cases.
                        </p>
                        <p>As part of Angular I have very good knowledge of TypeScript as well.</p>
                        <p></p>
                    </div>
                    <div>
                        <h4 class="text-info">Education</h4>
                        <h5>ELTE - Computer Science BSc</h5>
                        <h6 class="text-secondary">2014 - Present</h6>
                        <p>
                            During my education I learned so many basic things that help me every day at work. Starting with
                            algorithms, databases, different programming languages (C++, Java, Python, Ada, and yes, web
                            technologies like JavaScript, HTML, CSS, Php, and web frameworks as well like React, laravel, socket.io, and many more).
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column col-12 col-lg-6">
                    <div>
                        <h4 class="text-info">Technical Skills</h4>
                        <h5>Main Knowledge</h5>
                        <span class="badge bg-primary text-white knowledge-badge" *ngFor="let item of mainKnowledge">{{item}}</span>
                        <h5>Good Knowledge</h5>
                        <span class="badge bg-secondary text-white knowledge-badge" *ngFor="let item of goodKnowledge">{{item}}</span>
                        <h5>Other Knowledge</h5>
                        <span class="badge bg-warning knowledge-badge" *ngFor="let item of otherKnowledge">{{item}}</span>
                    </div>
                    <div>
                        <h4 class="text-info">Language Skills</h4>
                        <p>English - B2</p>
                    </div>
                    <div>
                        <h4 class="text-info">Interest</h4>
                        <h6 class="text-secondary">House Renovation</h6>
                        <p>
                            Last year with my wife, we bought our house, and most of our free time we spent on house renovation stuff
                            (and there is still a lot of things to do in the future). We didn't even have a free weekend :), but we loved it.
                        </p>
                        <h6 class="text-secondary">Coding</h6>
                        <p>
                            Writing applications is not just my work. I love to write things in TypeScript (Discord bots, NodeJS applications, etc.)
                            and my recent hobby is writing code for IoT projects inside the house (e.g. smart lights).
                        </p>
                        <h6 class="text-secondary">Games</h6>
                        <p>
                            Sometimes I play video games like League of Legends on PC or some PlayStation games
                            (God of War, Horizon Zero Dawn, Fifa, etc.). But it really depends on my mood and sometimes I don't even play for months.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cv-print-label">
    <div class="d-flex col-12 justify-content-around bg-light">
        <div>
            Source: https://duba.hu/cv
        </div>
        <div>
            Printed: {{ today | date }}
        </div>
    </div>
</div>