<div class="card ">
    <img src="assets/img/sandor-duba.jpg" class="card-img-top" alt="Picture of Me">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Sándor Károly Duba</li>
            <li class="list-group-item">Software Developer</li>
            <li class="list-group-item">
                {{experienceYears}} years and {{experienceMonths}} month{{experienceMonths > 1 ? 's' : ''}} experience
            </li>
            <li class="list-group-item">
                <i class="bi bi-linkedin text-primary" style="padding: 0 2px;"></i>
                <a href="https://{{linkedIn}}">
                    {{linkedIn}}
                </a>
                <a target="blank" href="https://{{gitlab}}" style="display: flex;">
                    <img style="max-height: 1.3em; width: auto; display: inline-block;" src="assets/img/gitlab-icon.png">
                    {{gitlab}}
                </a>
                <i class="bi bi-github" style="padding: 0 2px;"></i>
                <a target="blank" href="https://{{github}}">{{github}}</a><br>
                <i class="bi bi-twitter text-primary" style="padding: 0 2px;"></i>
                <a target="blank" href="https://{{twitter}}">{{twitter}}</a>
            </li>
        </ul>
    </div>
</div>