@import "~bootstrap/scss/bootstrap";
// Responsive Styling

.info-container {
    flex-direction: column;
    .year-container {
        border-radius: 0;
        border: 0;
        h5 {
            border-bottom: 1px dotted black;
        }
    }

    .body-container {
        margin-bottom: 2em;
        border-radius: 0;
        border: 0;
        border-bottom: 2px solid black;
        text-align: justify;
        text-justify: inter-word;
    }
}

@include media-breakpoint-up(lg) {
    .info-container {
        display: flex;
        flex-direction: row;
    
        .year-container {
            display: flex;
            align-items: center;
            padding: 0 8px 8px;
            width: 80px;
            border-right: 1px solid black;
            h5 {
                border: 0;
            }
        }
    
        .body-container {
            padding-left: 8px;
            margin-bottom: 8px;
            border-left: 1px solid black;
            border-bottom: 2px solid black;
            border-radius: 0 0 0 4px;
            width: 100%;
        }
    }
}
